# Bancos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=panorama_db

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_BIND_ADDRESS=127.0.0.1
MONGO_CPU_LIMIT=2.0
MONGO_MEMORY_LIMIT=2G
MONGO_URI=mongodb://root:rootpassword@localhost:27017

# Airflow
# Gere com: python3 -c "import base64, os; print(base64.urlsafe_b64encode(os.urandom(32)).decode())"
AIRFLOW_FERNET_KEY=

# APIs
YOUTUBE_API_KEY=sua_chave_aqui
REDDIT_CLIENT_ID=seu_id_aqui

# AIRFLOW
AIRFLOW_UID=1000
AIRFLOW__WEBSERVER__SECRET_KEY=pave_pipeline_super_secret_key_airflow_2026_x89a